<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ketd.member.mapper.BalanceMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.ketd.member.domain.Balance" id="BaseResultMap">
            <result property="id"    column="id"    />
            <result property="memberId"    column="member_id"    />
            <result property="balance"    column="balance"    />
            <result property="updatedAt"    column="updated_at"    />
            <result property="createdAt"    column="created_at"    />
            <result property="status"    column="status"    />
    </resultMap>

    <sql id="Base_Column_List">
id,member_id,balance,updated_at,created_at,status
    </sql>
    <select id="selectOneByMemberId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ums_balance
        where
        member_id = #{memberId,jdbcType=NUMERIC}
    </select>

</mapper>

