<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ketd.product.mapper.CategoryBrandRelationMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.ketd.product.domain.CategoryBrandRelation" id="${classname}Map">
            <result property="id"    column="id"    />
            <result property="brandId"    column="brand_id"    />
            <result property="catelogId"    column="catelog_id"    />
            <result property="brandName"    column="brand_name"    />
            <result property="catelogName"    column="catelog_name"    />
    </resultMap>
    <update id="updateBrandNameById">
        update pms_category_brand_relation
        set brand_name = #{brandName,jdbcType=VARCHAR}
        where id = #{id,jdbcType=NUMERIC}
    </update>
    <update id="updateBrandNameByBrandId">
        update pms_category_brand_relation
        set brand_name = #{brandName,jdbcType=VARCHAR}
        where brand_id = #{brandId,jdbcType=NUMERIC}
    </update>
    <update id="updateCatelogNameByCatelogId">
        update pms_category_brand_relation
        set catelog_name = #{catelogName,jdbcType=VARCHAR}
        where catelog_id = #{catelogId,jdbcType=NUMERIC}
    </update>


</mapper>

